function If.main 2
push local 0
push local 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
push constant 0
return
label IF_FALSE0
push local 0
push local 1
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
push constant 0
return
goto IF_END1
label IF_FALSE1
push constant 0
push constant 0
return
label IF_END1
push constant 0
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call If.abc 1
pop temp 0
push constant 0
not
push constant 0
return
goto IF_END2
label IF_FALSE2
push pointer 0
call If.def 1
pop temp 0
push constant 0
push constant 0
return
label IF_END2
