function ExpressionList.main 0
push @todo: unhandled SUBROUTINE 9
call int.@todo: handle method call 1
pop static 0
call Acb.def 0
pop static 1
push static 4
push static 5
push @todo: unhandled SUBROUTINE 9
call int.@todo: handle method call 3
pop static 2
push static 4
push static 5
call Acb.def 2
pop static 3
