function SubroutineCall.main 0
push @todo: unhandled SUBROUTINE 9
call int.@todo: handle method call 1
pop this 0
call Acb.def 0
pop this 1
push this 4
push this 5
add
push this 6
neg
push @todo: unhandled SUBROUTINE 9
call int.@todo: handle method call 3
pop this 2
push this 4
push this 5
push this 6
push this 7
call Acb.def 4
pop this 3
