function ParenthesesExpression.main 0
push this 4
pop this 0
push this 4
push this 5
add
pop this 1
push this 4
push this 5
push this 6
add
add
pop this 2
push this 4
push this 5
push this 6
add
add
pop this 3
