function Do.main 0
push pointer 0
call Do.abc 1
pop temp 0
call abc.def 0
pop temp 0
push static 0
call abc.def 1
pop temp 0
call ghi.@todo: handle method call 0
call abc.def 1
pop temp 0
call ghi.jkm 0
call abc.def 1
pop temp 0
